@charset "UTF-8";
.page {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: #000000;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: #000000;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.section .list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.list-clients .item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.list-clients .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  cursor: pointer;
  color: #afb1b8;
}

.list-clients .item:hover,
.list-clients .item:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo1 {
  width: 45px;
  height: 50px;
  fill: currentColor;
  cursor: pointer;
}

.clients-logo2 {
  width: 40px;
  height: 52px;
  fill: currentColor;
  cursor: pointer;
}

.clients-logo3 {
  width: 41px;
  height: 43px;
  fill: currentColor;
  cursor: pointer;
}

.clients-logo4 {
  width: 80px;
  height: 42px;
  fill: currentColor;
  cursor: pointer;
}

.clients-logo5 {
  width: 59px;
  height: 47px;
  fill: currentColor;
  cursor: pointer;
}

.clients-logo6 {
  width: 89px;
  height: 45px;
  fill: currentColor;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-list .list:not(:last-child) {
  margin-right: 30px;
}

.feature .background-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.studio-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 45px 10px 46px;
  min-width: 109px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.action {
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

.logo-footer {
  color: #ffffff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 28px;
  padding-top: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.address-footer .contact {
  margin-bottom: 9px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .logo {
  display: block;
  margin-bottom: 10px;
}

.social-links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.social-links-footer:hover,
.social-links-footer:focus {
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 86px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.address .item + .item {
  margin-left: 50px;
}

.address .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address .item:hover,
address .item:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link.current::after {
  opacity: 1;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  padding-top: 200px;
  width: 646px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero > .overley {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/Header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio-filter .button {
  /* margin-right: 8px; */
  color: #212121;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  background: #f5f4fa;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .title {
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects .link {
  text-decoration: none;
}

.projects .subtitle {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.title-subtitle {
  padding: 20px 24px;
}

.projects .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* color: #ffffff; */
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 94px;
}

.projects-items {
  width: 370px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.projects-items:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-items:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-items:hover,
.projects-items:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 93px;
}

.product_img {
  display: block;
}

.figure {
  position: relative;
  margin: 0;
}

.product .product-list {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}

.team {
  background: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.team-list-container .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}

.team-list-container {
  border-radius: 4px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.team-list-container:not(:last-child) {
  margin-right: 30px;
}

.team-list-container:hover,
.team-list-container:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-container .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-title {
  margin-top: 0;
  margin-bottom: 16px;
}

.social-links_icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
}

.social-links_item:hover,
.social-links_item:focus {
  color: white;
  background-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links_list:not(:last-child) {
  margin-right: 10px;
}

.box {
  overflow: hidden;
  position: relative;
}

.overlay .text {
  top: 0;
  padding: 63px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .overlay,
.link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.input {
  margin-right: 12px;
  padding: 12px 18px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  outline: none;
}

/* Модальное окно - фон общий*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно - фон формы */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

/* Модальное окно - кнопка закрыть форму */
.modal > .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
  border-radius: 50%;
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.icon-btn-close {
  fill: black;
}

/* Модальное окно - форма */
.form {
  width: 528px;
  height: 581px;
  padding: 40px;
}

.form-about {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 8px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-text {
  position: absolute;
  top: 25%;
  left: 42px;
  /* transform: translate(50% 50%); */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.icon-form {
  position: absolute;
  top: 93%;
  left: 16px;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  display: inline-block;
  color: black;
}

.form-input:focus + .form-text {
  color: #2196f3;
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:focus + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text {
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:focus-within ~ .icon-form {
  fill: #2196f3;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-input.comments {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.form-text.comments {
  top: 12px;
  left: 16px;
}

.form-input:focus + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.form-input:not(:placeholder-shown) + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Прячем чекбокс от браузера */
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Оформляем чекбокс */
.checkbox {
  width: 15px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
  background-image: url("../img/nocheck.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.check-input:checked + .checkbox,
.check-input:checked:focus + .checkbox {
  background-image: url("../img/check.svg");
  background-size: contain;
  background-color: #2196f3;
  border-radius: 4px;
}

.text.consent {
  margin: 0;
  left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

.button.submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-color: transparent;
  color: #ffffff;
  background-color: #2196f3;
}
/*# sourceMappingURL=main.css.map */