@import "./components/common";
@import "./components/clients";
@import "./components/features";
@import "./components/footer";
@import "./components/header";
@import "./components/hero";
@import "./components/portfolio";
@import "./components/product";
@import "./components/team";
@import "./components/modal";
@import './utils/variables';
