.nav-conteiner {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  transition: color $transition;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-text-color;
}

.site-nav .link.current {
  color: $accent-text-color;
}

.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
  margin-left: auto;
}

.address .item + .item {
  margin-left: 50px;
}
.address .item {
  display: flex;
  align-items: center;
  color: $primery-text-color;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address .item:hover,
address .item:focus {
  color: $accent-text-color;
  transition: color $transition;
}

.mail-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link.current::after {
  opacity: 1;
}
.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-text-color;
  border-radius: 2px;
  opacity: 0;
  transition: opacity $transition;
}
