.product_img {
  display: block;
}

.figure {
  position: relative;
  margin: 0;
}
.product .product-list {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
